/* style.css
 * This file provides css styles.
 */
 *{
    font-family: 'Roboto', sans-serif;
 }
.audio-style {
  margin-left: 36%;
  margin-right: 46%;
  border-radius: 10em;

}

.app{

}
.back {
  position: relative;
  background: #1E1D45;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  position: absolute;
  z-index: 1;
  top: 25%;
  left:51%;
  margin-left:-200px;
  height:250px;
  margin-top:-150px;
  padding:0px;
  text-align: center;

}

.elem {
	background: #474889;
	width: 40em;
	border-radius: 50%;
	height: 40em;
  margin: 10em 7em 0em 7em;
  position: relative;
  -webkit-box-shadow: 0px 25px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 25px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
  box-shadow: 0px 25px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
}
.elem h4{
  font-size: 4em;
  font-family: 'Satisfy', cursive;
}
.elem:hover{
  background-color: #26a69a;
  -webkit-box-shadow: 0px 20px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 20px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
  box-shadow: 0px 20px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
}
.file-button{
  width: 250px;
}
.service{
  text-align: center;
  position: relative;
  padding: 10px 5px 4px 4px;
  top: 30%;
  left: 21%;
  width: 400px;
}

button{
	padding: .25em 2em;
	color: #9855d4;
	font-weight: 500;
	background-color: transparent;
	border: 2px solid #9855d4;
	border-radius: 10rem;
	transition: .2s;
	display: inline-block;
	margin: 0 15px 0 0;
}
.mosa{
  width: 100%;
  height: inherit;
  position: absolute;
  background-color: #023852;
  display: flex;
  justify-content: center;
  align-items: center;

}
.text-container{
  position: absolute;
  width: inherit;
  background-color: #03A694;
  z-index: 1;
  top: 0%;
  align-items: center;
  text-align: center;
  padding: 10px 5px 10px 5px;
  font-size: 16px;
  width: 100%;
  height: 7%;
}

.chart-container{
  position: relative;
  width: 70em;
  border-radius: 2em;
  height: 40em;
  padding: 15px;
  margin : 5em;
  background-color:#071930;

}
.data-items{
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}


.speech button {
  padding: .25em 2em;
	color: #C93B2F;
	font-weight: 1000;
  font-size: 18px;
	background-color: transparent;
	border: 2px solid #C93B2F;
	border-radius: 10em;
	transition: .2s;
	display: inline-block;
}
.speech{
  padding-bottom: 3em;
}
.center-button{
  font-size: 18px;
  padding-left: 11em;
  padding-top: 20px;
}


button:hover{
	border-color: white;
}
.analyzer h5{
  text-align: left;
  padding-right: 2em;
}
.flex{
	display: flex;
}

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

.tone{
  margin-top: 5%;
}
